.stickyContainer {
  position: sticky;
  bottom: 10px;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  max-width: 44px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.wrapperHeadphones {
  position: relative;
  width: 44px;
  height: 35px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 10px 18px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  transition: width 0.4s ease;
  &:hover {
    width: 175px;
    justify-content: flex-end;
    padding-right: 12.5px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    align-items: flex-end;
  }
  &:hover::before {
    content: 'Technischer Support';
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 12px;
    opacity: 1;
    background: none;
    color: var(--secondary);
    margin-right: 10px;
  }
}

.wrapperMail {
  position: relative;
  width: 44px;
  height: 35px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 10px 18px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  transition: width 0.4s ease;
  &:hover {
    width: 133px;
    justify-content: flex-end;
    padding-right: 12.5px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    align-items: flex-end;
  }
  &:hover::before {
    content: 'Frage stellen';
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 12px;
    opacity: 1;
    background: none;
    color: var(--secondary);
    margin-right: 10px;
  }
}

@media (min-width: 750px) and (max-width: 1280px) {
  .stickyContainer {
    margin-top: 30px;
  }
}

@media (max-width: 750px) {
  .stickyContainer {
    margin-top: 30px;
  }
}
