.container {
  width: 100%;
  height: 480px;
  border-radius: 5px;
  border: 1.5px solid var(--primary-grey);
}

@media (max-width: 750px) {
  .container {
    max-height: 350px;
  }
}

@media (max-width: 450px) {
  .container {
    max-height: 205px;
  }
}
